<template>
    <h1>当前求和为{{sum}}</h1>
    <button @click="add">sum+1</button>
    <hr>
    <h1>展示人员信息</h1>
    <hr>
    <h2>姓名：{{name}}</h2>
    <h2>姓名：{{age}}</h2>
    <h2>姓名：{{salary}}K</h2>
    <button @click="personOperater">改变人员信息</button>
    <hr>
    <h3>{{person}}</h3>
</template>

<script>
import {reactive,ref, toRef} from 'vue'
export default {
    name:'PersonShow',
    setup(){
        let person =reactive({
            name:'张三',
            age:14,
            job:{
                j1:{
                    type:'写书',
                    salary:15
                }
            }
        })
        let sum=ref(0)
        function add(){
            sum.value++
        }
        function personOperater(){
            person.name+='~',
            person.age++
            person.job.j1.salary++
        }
        return {
            name:toRef(person,'name'),
            age:toRef(person,'age'),
            salary:toRef(person.job.j1,'salary'),
            sum,
            add,
            person,
            personOperater
        }
    }
}
</script>

<style>

</style>