<template>
  <div>
    <h1  v-show="p==='老师'">老师的教室是{{tsclass}}</h1>
    <h1  v-show="p==='学生'">学生的教室是{{tsclass}}</h1>
  </div>
</template>

<script>
import { inject } from 'vue'
export default {
    name:'classRoom',
    props:['p'],
    setup(){
        let tsclass=inject('classroom')
        let person1 = inject('person1')
        console.log('我是孙子组件classroom',person1)
        return {
            tsclass,
        }
    }
}
</script>

<style>

</style>