<template>
  <div class="person">
    <h1>person的信息</h1>
    <hr>
    <h2>学生的信息</h2>
    <StudentPage/>
    <hr>
    <h2>老师的信息</h2>
    <TeacherPage/>
  </div>
</template>

<script>
import { reactive,provide } from 'vue'
import StudentPage from './StudentPage'
import TeacherPage from './TeacherPage'
export default {
    name:'PersonPage',
    setup(){
        let person1=reactive([
            {name:'dog',age:34},
            {name:'panda',age:14},
            {name:'cat',age:24},
            {name:'bird',age:44},
        ])
        console.log('person1',person1)
        provide('person1',person1)
         let person2=reactive([
            {name:'hippo',age:34},
            {name:'fox',age:14},
            {name:'critck',age:24},
            {name:'elephent',age:44},
        ])
        provide('person2',person2)
    },
    components:{
        StudentPage,
        TeacherPage
    },
    mounted(){
        console.log(this)
    }
}
</script>

<style>

</style>