<template>
  <ul>
    <li v-for="s,index in student" :key="index">
        {{s.name}}---{{s.age}}
    </li>
  </ul>
  <classRoom p='学生'/>
</template>

<script>
import { inject,provide,ref } from 'vue'
import classRoom from './classRoom'
export default {
    name:'StudentPage',
    setup(){
        let student= inject('person1')
        let classrom=ref('002')
        provide('classroom',classrom)
        return {
            student
        }
    },
    components:{
        classRoom
    }
}
</script>

<style>

</style>