<template>
  <ul>
    <li v-for="t,index in teacher" :key="index">
        {{t.name}}---{{t.age}}
    </li>
  </ul>
  <classRoom p='老师'/>
</template>

<script>
import { inject ,provide,ref} from 'vue'
import classRoom from './classRoom'
export default {
    name:'TeacherPage',
    setup(){
        let teacher=inject('person2')
        let classrom=ref('001')
        provide('classroom',classrom)
        return {
            teacher
        }
    },
    components:{
        classRoom
    }
}
</script>

<style>

</style>