<template>
    <h1>当前求和为{{sum}}</h1>
    <button @click="sum++">点我加一</button>
    <hr>
    <h1>学生的姓名：{{person.firstName}}-{{person.lastName}}</h1>
    <h2>学生的年龄：{{person.age}}</h2>
    <h2>学生的年龄：{{person.job.j1.salary}}K</h2>
    <button @click="person.age++">点我年龄加一</button>
    <button @click="person.job.j1.salary++">点我薪资加一</button>
</template>

<script>
import { ref, reactive, watchEffect,watch} from 'vue'
export default {
    name:'StuentInfo',
    setup(){
        let sum=ref(0)
        let person=reactive({
            firstName:'张',
            lastName:'三',
            age:14,
            job:{
                j1:{
                    salary:12
                }
            }
        })
        // 配置监视
        watchEffect(()=>{
            // 注意该回调函数调用的时机，由于该函数是在setup中编写的，sutup函数本身调用就早于beforecreate
            // console.log('watchEffect中的回调被调用了',Date.now())
            // console.log('salary变化啦',person.job.j1.salary)
            // console.log('sum变化啦',sum.value)
        })
        // 通过watch监视
        // watch(()=>person.job.j1.salary,(n,o)=>{
        //     console.log('salary变化啦',n,o)
        // })
        watch(()=>sum.value,(n,o)=>{
            console.log('sum变化啦',n,o)
        })
        watch(()=>person.job,(n,o)=>{
            console.log('job中的salary变化啦',n,o)
        },{deep:true})
        return{
            person,
            sum
        }
    },
}
</script>

<style scoped>

</style>