<template>
  <div></div>
</template>

<script>
import { shallowReactive,ref,isProxy,isReactive,isRef ,isShallow, readonly, isReadonly} from 'vue'
export default {
  name:'App',
  setup(){
    // 生成一个响应式数据类型为ref引用对象
    let car=ref({
      type:'保时捷',
      price:'230w'
    })
    let Porsche=ref('red')
    let dreamCar=shallowReactive(['保时捷','奔驰','宝马','sportCar'])
    Porsche=readonly(Porsche)
    console.log(isProxy(car),isRef(car))//fasle,true
    console.log(isReactive(dreamCar),isProxy(dreamCar),isShallow(dreamCar))//true true true
    console.log(isRef(Porsche),isReadonly(Porsche))//true true
  }
}
</script>

<style>

</style>
