<template>
  <parentComp/>
  <hr>
</template>

<script>
import parentComp from './components/parentComp'
export default {
  name:'App',
  components:{
    parentComp
  }
}
</script>

<style>

</style>
