<template>
    <div class="box1">
        <h1>这是child组件</h1>
        <sonComp/>
    </div>
</template>

<script>
import sonComp from './sonComp'
export default {
    name:'childComp',
    components:{sonComp}
}
</script>

<style scoped>
.box1{
    margin: 0px 20px 10px ;
    background-color: aquamarine;
}
h1{
    padding: 20px 0;
}
</style>