<template>
    <div class="box">
        <h1>这是parent元素</h1>
        <childComp/>
    </div>
</template>

<script>
import childComp from './childComp'
export default {
    name:'parentComp',
    components:{childComp}
}
</script>

<style scoped>
.box{
    background-color:silver ;
}
h1{
    padding: 20px 0;
}
</style>