<template>
  <h1>这是son组件</h1>
  <button @click="isShow=!isShow">点我弹窗</button>
  
  <!-- <teleport to='body'>to里面可以写选择器 -->
    <teleport to='body'>
        <!-- 设置一个遮罩层 -->
        <div class="mask" v-if="isShow">
            <div class="box2" >
                <h1>内容1</h1>
                <h1>内容2</h1>
                <h1>内容3</h1>
                <button @click="isShow=false">点我隐藏</button>
            </div>
        </div>
  </teleport>
</template>

<script>
import { ref } from 'vue'
export default {
    name:'sonComp',
    setup(){
        let isShow=ref(false)
        return {
            isShow
        }
    }
}
</script>

<style scoped>
h1{
    margin: 10px 30px;
    padding: 20px 0;
    background-color: orange;
}
.box2{
    width:340px;
    height: 340px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    position: absolute;
    background-color: deeppink;
}
.mask{
    position: absolute;
    z-index: 999;
    /* 为位于元素的最上方 */
    top: 0;
    bottom: 0;
    height: auto;
    left: 0;
    right: 0;
    width:auto;
    background-color: rgba(0, 1, 10, 0.7);
}
</style>