<template>
    <h1>当前求和为{{sum.n}}</h1>
    <button @click="add">sum+1</button>
    <button @click="sum={n:'你好'}">点我改变sum</button>
    <hr>
    <h1>展示人员信息</h1>
    <h3>{{person}}</h3>
    <hr>
    <h2>姓名：{{name}}</h2>
    <h2>年龄：{{age}}</h2>
    <h2 >工资：{{job.j1.salary}}K</h2>
    <h2>工作：{{job}}</h2>
    <button @click="personOperater">改变人员信息</button>
    <button @click="person.job.j1.salary++">工资++</button>
    <button @click="job={name:'哈哈哈',j1:{
                    type:'写书',
                    salary:15
                }}">替换job</button>
    <hr>
</template>

<script>
// import { toRef,  toRefs, shallowReactive, shallowRef} from 'vue'
import {  toRefs, shallowReactive, shallowRef, toRef} from 'vue'
export default {
    name:'PersonShow',
    setup(){
        // shallowReactive，将对象类型的数据，转为浅层次的响应式数据
        let person =shallowReactive({
            name:'张三',
            age:14,
            job:{
                j1:{
                    type:'写书',
                    salary:15
                }
            }
        })
        // shallowRef对对象类型的数据不进行数据的响应式处理，根本不求助reactive（），和ref（数值型数据）通过Object.defineProperty()
        let sum=shallowRef({
            n:0
        })
        function add(){
            sum.value.n++
        }
        function personOperater(){
            person.name+='~',
            person.age++
            person.job.j1.salary++
        }
        console.log(toRefs(person))
        return {
            ...toRefs(person),
            sum:toRef(sum.value,'n'),
            add,
            person,
            personOperater
        }
    }
}
</script>

<style>

</style>