<template>
  <h1>{{title}}</h1>
  <hr>
  <h1>人员信息</h1>
  <h2>姓名：{{person.name}}</h2>
  <h2>年龄：{{person.age}}</h2>
  <h3 v-show="person.sex">性别：{{person.sex}}</h3>
  <hr>
  <h1>工作信息</h1>
  <h2>类型：{{job.type}}</h2>
  <h2>薪资：{{job.salay}}</h2>
  <h3 v-show="job.time">工作时长:{{job.time}}</h3>
  <button @click="func.addSex">添加人员性别</button>
  <button @click="func.addT">添加工作时长</button>
  <button @click="func.deleSalary">删除工作薪水</button>
  <button @click="func.deleN">删除人员姓名</button>
</template>

<script>
import { reactive ,ref} from 'vue'
export default {
  name:'App',
  setup(){
    let person=reactive({
      name:'Jane',
      age:16
    })
    let title=ref('添加和删除数据，判断该数据是否为响应式的数据')
    let job=ref({
      type:'bussnise',
      salay:'19w'
    })
    let func=reactive({
      // 下面的四个操作都是对proxy对象的操作
      addSex(){
        person.sex='gril'
      },
      addT(){
        job.value.time='4h'
      },
      deleSalary(){
        delete job.value.salay
      },
      deleN(){
        delete person.name
      }
    })
    return {
      person,
      job,
      title,
      func
    }
  }
}
</script>

<style>

</style>
