<template>
  <h1>用户信息</h1>
  <hr>
  <h2>基本数据类型</h2>
  <h2>用户姓名:{{name}}</h2>
  <h2>用户姓名:{{age}}</h2>
  <hr>
  <h2>对象类型</h2>
  <h2>用户工作类型:{{job.type}}</h2>
  <h2>用户汽车类型:{{car.type}}</h2>
  <hr>
  <h2>数组类型</h2>
  <h2>用户爱好:{{h}}</h2>
  <hr>
  <h1>证明数据式响应式的</h1>
  <button @click="changeN">修改姓名</button>
  <button @click="changeA">修改年龄</button>
  <button @click="changeC">修改汽车类型</button>
  <button @click="changeJ">修改工作类型</button>
  <button @click="changeH">修改用户爱好</button>
</template>

<script>
import {ref,reactive} from 'vue'
export default {
  name: 'App',
  setup(){
    let name=ref('Jennie')
    let age=18
    console.log('age',age)
    console.log('name',name)
    let car=ref({
      type:'奔驰',
      price:'13w'
    })
    console.log('car',car)
    let job=reactive({
      type:'后端工程师',
      salary:'30w'
    })
    console.log('job',job)
    let hobby=['逛街','聚会','旅行']
    let h=reactive(hobby)
    console.log('hobby',h)

    function changeN(){
      name.value='张胜男'
      // refimpl对象上没有setter，但是在他的隐式原型链中可以找到，即可以修改value值
    }
    function changeA(){
      age=14
      // refimpl对象上没有setter，但是在他的隐式原型链中可以找到，即可以修改value值
    }
    function changeC(){
      car.value.type='特斯拉'
      // refimpl对象上没有setter，但是在他的隐式原型链中可以找到，即可以修改value值
    }
    function changeJ(){
      job.type='教师'
    }
    function changeH(){
      // 该数组非响应式的数组
      // hobby[3]='欣赏沿途风景'
      // h对象中的数据才是响应式的
      h[3]='欣赏沿途风景'
    }
    return {
      name,
      job,
      car,
      h,
      age,
      changeN,
      changeA,
      changeJ,
      changeH,
      changeC
    }
  },
  mounted(){
    console.log('this',this)
    // console.log('thisname',this.name)
    // console.log('thisjob',this.job)
    // console.log('thiscar',this.car)
    // console.log('thishobby',this.h)
  }
}
</script>

<style>

</style>
