<template>
    <h1>当前求和为{{sum}}</h1>
    <button @click="add">sum+1</button>
    <h3>{{sumobj.sum}}</h3>
    <hr>
    <h1>展示人员信息</h1>
    <hr>
    <h2>姓名：{{name}}</h2>
    <h2>姓名：{{age}}</h2>
    <h2>姓名：{{salary}}K</h2>
    <button @click="personOperater">改变人员信息</button>
    <hr>
    <h3>{{person}}</h3>
</template>

<script>
import {toRef} from 'vue'
import personOperater from '../hook/personOperater'
import sumCount from '../hook/sumCount'
export default {
    name:'PersonShow',
    setup(){
        let sumobj=sumCount()
        let personobj=personOperater()
        console.log('personobj',personobj)
        return {
            sum:sumobj.sum,
            sumobj,
            add:sumobj.add,
            name:toRef(personobj,'name'),
            age:toRef(personobj,'age'),
            salary:toRef(personobj,'salary'),
            person:toRef(personobj,'person'),
            personOperater:personobj.personOperater
        }
    }
}
</script>

<style>

</style>