<template>
  <div class="root">
    <PersonPage/>
  </div>
</template>

<script>
import PersonPage from './components/PersonPage'
export default {
  name:'App',
  components:{
    PersonPage
  }
}
</script>

<style>

</style>
