<template>
  <h1>展示学生信息</h1>
    学生的姓：<input type="text" v-model="person.firstName"><br>
    学生的名：<input type="text" v-model="person.lastName">
  <h3>学生的全名：{{person.fullName}}</h3>
  <h3>学生的年龄：{{person.job.j1.salay}}</h3>
  <button @click="person.job.j1.salay++">salay+1</button>
  <!-- <hr>
  <h1>当前求和为: {{sum}}</h1>
  <h2>当前的信息是：{{msg}}</h2>
  <button @click="sum++">sum+1</button><br>
  <button @click="msg+='!'">msg+!</button> -->
</template>

<script>
import {  reactive, watch} from 'vue'
export default {
    name:'StuentInfo',
    setup(){
        let person=reactive({
            firstName:'张',
            lastName:'三',
            age:14,
            job:{
                j1:{
                    salay:12
                }
            }
        })
        // 情况一，监视reactive的返回值为person的属性
        // watch(person,(n,o)=>{
        //     console.log('监测到person中属性的变化，最新的值为：'+n.firstName+' 旧的值为： '+o.firstName)
        //     person.fullName=person.firstName+'-'+person.lastName
        // })
        // 情况二、监视person中的一个或多个数值类型的属性
        // watch([()=>person.age,()=>person.firstName],(n,o)=>{
        //     console.log('监测到person中age属性的变化，最新的值为：'+n[0]+' 旧的值为： '+o[0])
        // })
        // watch(()=>person.age,(n,o)=>{
        //     console.log('监测到person中age属性的变化，最新的值为：'+n[0]+' 旧的值为： '+o[0])
        // })
        // 情况三:监视person中的一个或多个[对象类型]的属性,必须要写上deep：true，才能对person中的数据进行深度监视
        watch(()=>person.job,(n,o)=>{
            console.log('监测到person中job属性的变化，最新的值为：'+n.j1.salay+' 旧的值为： '+o.j1.salay)
        },{
            deep:true
        })
        return{
            person,
        }
    },
}
</script>

<style scoped>

</style>