<template>
  <h1>展示学生信息</h1>
    学生的姓：<input type="text" v-model="person.firstName"><hr>
    学生的名：<input type="text" v-model="person.lastName">
  <h3>学生的全名：{{person.fullName}}</h3>
  <button @click="changeF">gaib</button>
</template>

<script>
import { computed, reactive} from 'vue'
export default {
    name:'StuentInfo',
    setup(){
        let person=reactive({
            firstName:'张',
            lastName:'三',
        })
        person.fullName=computed({
            get(){
                return person.firstName+'-'+person.lastName
            },
            set(value){
                let arr=value.split('-')
                // 修改person中的属性则一定会被页面检测到
                person.firstName=arr[0]
                person.lastName=arr[1]
            }
        })
        console.log(person.fullName)
        function changeF(){
            person.fullName='fsg-df'
        }
        return{
            person,
            changeF
        }
    },
}
</script>

<style scoped>

</style>