<template>
  <div class="change">
        <button @click="changen">改变n</button>
        <button @click="changem">改变m</button>
        <h1>ref响应式{{n}}</h1>
        <h1>reactive响应式数据{{m.value}}</h1>
        <h1>计算属性{{cn}}</h1>
        <hr>
        <!-- 响应式原理，数据驱动，前提是模板中用到的响应式数据改变才会被更新dom -->
        <h1>store数据n{{useTest.n}}</h1>
        <h1>store数据m{{useTest.m}}</h1>
  </div>
</template>

<script>
import { computed, onUpdated ,reactive,ref} from 'vue'
import useTeststore from '@/store/testStore'
export default {
    setup(){
        let useTest=useTeststore()
        let m=reactive({
            value:''
        })
        let cn=computed(()=>{
            return useTest.n
        })
        let n=ref()
        n.value=useTest.n
        m.value=useTest.m
        function changen(){
            useTest.changeN(10)
        }
        function changem(){
            useTest.changeM("@")
        }
        onUpdated(()=>{
            console.log('我改变了store里面的数据，不一定会触发的更新，但是m和n都不是响应式数据')
        })
        return{
            changem,
            m,n,
            changen,
            cn,
            useTest
        }
    }
}
</script>

<style>

</style>