<template>
  <div class="s">
    <h1>parent</h1>
    <h1>非响应式数据M{{x}} 不变</h1>
    <h1>ref响应式数据N{{y}} 是响应式但是不会随着store中数据的改变而改变</h1>
    <h1>计算属性N:{{z}}是</h1>
  </div>
</template>

<script>
import  useTeststore from '@/store/testStore'
import {computed, onUpdated, ref} from "vue"
export default {
    setup(){
        let useTest=useTeststore()
        let z=computed(()=>{
          return useTest.n
        })
        let x=useTest.m
        let y=ref()
        y=useTest.n
        onUpdated(()=>{
            console.log('parent')
            console.log('z计算属性是不是响应式数据',z)
        })
        return{
            x,y,z
        }
        
    }
}
</script>

<style>

</style>