<template>
    <h1>当前求和为{{sum}}</h1>
    <button @click="add">sum+1</button>
    <hr>
    <h1>展示人员信息</h1>
    <hr>
    <h2>姓名：{{name}}</h2>
    <h2>年龄：{{age}}</h2>
    <h2 >工资：{{job.j1.salary}}K</h2>
    <button @click="personOperater">改变人员信息</button>
    <hr>
</template>

<script>
import { toRefs,reactive,ref, shallowReadonly, readonly} from 'vue'
export default {
    name:'PersonShow',
    setup(){
        // shallowReactive，将对象类型的数据，转为浅层次的响应式数据
        let person =reactive({
            name:'张三',
            age:14,
            job:{
                j1:{
                    type:'写书',
                    salary:15
                }
            }
        })
        let sum=ref(0)
        function add(){
            sum.value++
        }
        function personOperater(){
            person.name+='~',
            person.age++
            person.job.j1.salary++
        }
        person=shallowReadonly(person)
        sum=readonly(sum)
        console.log(toRefs(person))
        return {
            ...toRefs(person),
            sum,
            add,
            personOperater
        }
    }
}
</script>

<style>

</style>