<template>
    <changeMN/>
    <hr>
    <hr>
    <parentInfo/>
</template>

<script>
import changeMN from "@/component/changeMN.vue"
import parentInfo from "@/component/parentInfo.vue"
export default {
  components:{
    changeMN,
    parentInfo
  }
}
</script>

<style>

</style>
