<template>
    <h1>ref响应式数据的读、写操作</h1>
    <input type="text" v-model="keyword1">
    <h2>{{keyword1}}</h2>
    <hr>
    <h1>自定义ref响应式数据的读、写操作</h1>
    <input type="text" v-model="keyword2">
    <h2>{{keyword2}}</h2>
</template>

<script>
import { customRef, shallowRef } from 'vue'
export default {
    name:'PersonShow',
    setup(){
        let keyword1=shallowRef('hello')
        let keyword2=myRef('world')
        let timer
        function myRef(value){
            return customRef((track,trigger)=>{
                return {
                    set(newVal){
                        // 重新解析模板
                        clearTimeout(timer)
                        timer=setTimeout(()=>{
                            value=newVal
                            trigger()
                        },1000)
                    },
                    get(){
                        // 追踪数据的变化
                        track()
                        return value
                    }
                }
            })
        }
        return {keyword1,keyword2}
    }
}
</script>

<style>

</style>